*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'PT Sans-Bold';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold.ttf') format('truetype'),
    url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-Regular';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular.ttf') format('truetype'),
    url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header{
    background-color: white;
    box-sizing: border-box;
    height: 100px;
    -webkit-box-shadow: 0 4px 0 0 #9a9a9a;
    box-shadow: 0 4px 0 0 #9a9a9a;
}
.header_div{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 910px;
    margin: auto;
}
.header_logo{
    margin: 19px 0;
    text-decoration: none;
}
.header_facebook_logo{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    background-color: #ac1f28;
    font-size: 26px;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 42px;
    text-align: center;
    margin: 33px 0 26px;
    transition: 0.3s;
}
.header_facebook_logo:hover{
    background-color: #4267b2;
    transform: scale(1.05);
}
.main_sec{
    margin-top: 4px;
    background-image: url("../images/background_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.main_sec_div{
    padding: 40px 0 0 0;
    justify-content: right;
}
.main_sec_sec{
    padding: 30px 24px;
    background-color: white;
    max-width: 343px;
    display: block;
    margin-left: auto;
}
.main_sec_sec:first-of-type{
    margin-bottom: 24px;
}
.main_sec_h2{
    display: block;
    width: 100%;
    padding-bottom: 22px;
    border-bottom: 1px solid #d58f93;
    font: 20px "PT Sans-Regular";
    margin-bottom: 26px;
    color: #ac1f28;
}
.main_sec_sec_p{
    font: 13px "PT Sans-Regular";
    color: #6d6e71;
    line-height: 18px;
}