*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'PT Sans-Bold';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold.ttf') format('truetype'),
    url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans-Regular';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular.ttf') format('truetype'),
    url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 910px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: white;
    height: 100px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 0 0 #999999;
    box-shadow: 0 4px 0 0 #999999;
}

.logo {
    margin: 19px 0;
}

.facebook_logo {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ac1f28;
    line-height: 42px;
    font-size: 26px;
    color: white;
    transition: 0.3s;
    margin: 26px 0;
    text-align: center;
}

.fa-facebook-f {
    font-size: 26px;
    color: white;
}

.facebook_logo:hover {
    background-color: #4267b2;
}

.main_sec {
    margin-top: 4px;
    background-image: url(../images/background_img.png);
    background-size: cover;
    height: 821px;
    padding-top: 40px;
}

.first_block {
    background-color: white;
    padding: 30px 25px 27px;
    max-width: 343px;
    margin-left: auto;
    margin-bottom: 28px;
}

.first_block h2 {
    display: block;
    padding-bottom: 22px;
    font: 20px "PT Sans-Regular";
    color: #ac1f28;
    border-bottom: 1px solid #d58f93;
}

.text {
    display: block;
    margin-top: 28px;
    max-width: 275px;
    line-height: 26px;
    color: #6d6e71;
    font: 13px "PT Sans-Regular";
}

.arrows {
    display: block;
    width: 20px;
    height: 100%;
    padding-top: 22px;
    font-size: 20px;
    position: relative;
    color: #ac1f28;
    margin: 22px 0 27px;
}

.fa-chevron-up {
    position: absolute;
    margin-top: 0;
    margin-bottom: auto;
}

.fa-chevron-down {
    position: absolute;
    margin-top: auto;
    margin-bottom: 0;
}

.fa-chevron-1 {
    position: relative;
    z-index: 2;
}

.fa-chevron-2 {
    position: relative;
    z-index: 3;
}

.second_block {
    background-color: white;
    padding: 30px 25px 27px;
    max-width: 343px;
    margin-left: auto;
}

.second_block h2 {
    display: block;
    padding-bottom: 22px;
    font: 20px "PT Sans-Regular";
    color: #ac1f28;
    border-bottom: 1px solid #d58f93;
}

.form {
    margin-top: 29px;
    display: block;
}

.form_input {
    display: block;
    background-color: #ac1f28;
    color: white;
    height: 24px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 8px 0 7px 9px;
    font: 12px "PT Sans-Bold";
    box-sizing: border-box;
    transition: 0.2s;
}

input::-moz-placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

input:focus {
    background-color: #d58f93;
    color: #ac1f28;
}

input:focus::-moz-placeholder {
    color: #ac1f28;
}

input:focus::-webkit-input-placeholder {
    color: #ac1f28;
}

.code {
    width: 111px;
}

.button {
    display: block;
    border: none;
    line-height: 24px;
    text-align: center;
    padding: 0 14px;
    color: white;
    font: 12px "PT Sans-Bold";
    background-color: #6d6e71;
    transition: 0.3s;
    height: 24px;
}

.button:hover {
    background-color: #b8bac1;
    color: #6d6e71;
}

.code_img {
    height: 24px;
}

.icons {
    display: flex;
    margin-bottom: 310px;
    margin-top: 120px;
}

.icon_1 {
    margin-right: 28px;
    height: 53px;
}

.icon_2 {
    margin-right: 42px;
    height: 53px;
}

.icon_3 {
    margin-right: 50px;
    height: 53px;
}
footer{
    height: 45px;
    box-sizing: border-box;
    background-color: #66181d;
}
.footer_div{
    max-width: 620px;
    margin: auto;
}
.footer_h4{
    text-align: right;
    color: white;
    font: 11px "PT Sans-Regular";
    margin-left: auto;
    padding-top: 19px;
}